---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: kiali
  namespace: istio-system
spec:
  hosts:
  - "{{ eks_kiali_dns }}"
  gateways:
  - istio-system/istio-ingressgateway-internal
  http:
  - match:
    - uri:
        prefix: /
    route:
    - destination:   
        host: kiali.istio-system.svc.cluster.local
        port:
          number: 20001