---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: alertmanager
  namespace: monitoring
spec:
  hosts:
  - "{{ prometheus.alertmanager_dns }}"
  gateways:
  - istio-system/istio-ingressgateway-internal
  http:
  - match:
    - uri:
        prefix: /
    route:
    - destination:   
        host: prometheus-kube-prometheus-alertmanager.monitoring.svc.cluster.local
        port:
          number: 9093